.contaner {
  width: 100%;
  height: calc(100% - 56px - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white !important;
}

.logo {
  font-size: 50px;
  font-weight: 500;
  font-family: 'roboto';
}
