mat-card {
  max-width: 500px;
  margin: auto;
}
.container {
  background-color: rgba(255, 255, 255, 0) !important;
}
.bg {
  position: relative;
  width: 100%;
  background-color: rgb(220, 235, 255);
}

button:focus {
  outline: 0px !important;
}
