.dashboard {
  min-height: calc(100% - 56px - 32px);
  background-color: rgb(230, 230, 230);
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  flex-direction: column;
}
.mt-2 {
  margin-left: 4px;
  margin-right: 4px;
  flex-grow: 32;
}
.mt-3 {
  margin-left: 4px;
  margin-right: 4px;
  flex-grow: 1;
}
.mt-4 {
  margin-left: 4px;
  margin-right: 4px;
  flex-grow: 1;
}
.search-buttons {
  float: right;
}

.but-1 {
  float: left;
}


.form {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: flex-start;
}

.not-found {
  margin-top: 5%;
  height: 100px;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: x-large;
  font-weight: 800;
  color: rgb(114, 114, 114);
}

.body {
  flex-grow: 1;
}

.pagination {
  width: calc(100% - 8px);
  margin-bottom: 10px;
  margin-top: 0px;
  justify-self: flex-end;
  align-self: center;
}
