.dashboard {
  min-height: calc(100% - 56px - 32px);
  background-color: rgb(255, 255, 255);
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mt-2 {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  flex-grow: 32;
  background-color: white !important;
}
.mt-3 {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  flex-grow: 1;
  background-color: white !important;
}
.mt-4 {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  flex-grow: 1;
  background-color: white !important;
}
.search-buttons {
  float: right;
}

.but-1 {
  float: left;
}


.form {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: flex-start;
  margin-bottom: 0px;
}

.not-found {
  margin-top: 5%;
  height: 100px;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: x-large;
  font-weight: 800;
  color: rgb(114, 114, 114);
}

.body {
  flex-grow: 1;
  z-index: 5;
}

.pagination {
  width: calc(100%);
  margin-bottom: 20px;
  margin-top: 0px;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.create-butt {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 5;
  top: calc(100vh - 56px - 56px) !important;
  left: calc(12% / 2) !important;
}

.goto {
  position: fixed;
  transform: translate(-50%, -75%);
  z-index: 5;
  top: calc(100vh - 56px - 56px) !important;
  right: calc(12% / 16) !important;
}

.goto > * {
  margin-top: 10px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
