.section {
  min-width: 320px;
  max-width: 320px;
  color: blue;
  margin-bottom: 15px;
  margin-left: 7px;
  margin-right: 7px;
  height: 400px;
  display: flex;
}

.body {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.brand {
  flex-grow: 1;
}

.type {
  flex-grow: 1;
}

.discription {
  flex-grow: 1;
}

.expire {
  flex-grow: 1;
}

.price {
  flex-grow: 1;
}

.action {
  align-self: flex-end;
}

.frame {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
