
.contaner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

.butt-contaner {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.butt {
  width: calc(100% - 10px);
}

.ok:hover{
  background-color: rgb(199, 255, 199);
}

.not-ok:hover{
  background-color: rgb(255, 199, 199);
}
