<mat-toolbar color="primary" class="toolbar-height">
  <!-- <button mat-icon-button class="icon" aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
    <span class="spacer-l"></span>
    <span (click)="navHome()" class="logo">Air</span>
    <span class="spacer"></span>
    <button mat-button class="icon favorite-icon" aria-label="icon-button with heart icon" *ngIf="!isAuth"
      (click)="toggle ? loginDialog() : null">
      LOGIN
    </button>
    <button mat-button class="icon favorite-icon" aria-label="icon-button with heart icon" *ngIf="isAuth"
      (click)="logout()">
      SIGNOUT
    </button>
    <button mat-button class="icon" aria-label="icon-button with share icon" routerLink="/dashboard"
      [routerLinkActive]="['activeCss']" *ngIf="isAuth" (click)="dashboard()">
      DASHBOARD
    </button>
    <button mat-button class="icon" aria-label="icon-button with share icon" routerLink="/profile"
    [routerLinkActive]="['activeCss']" *ngIf="isAuth && false" (click)="profile()">
      PROFILE
    </button>
    <span class="spacer-r"></span>
</mat-toolbar>
<!-- <mat-drawer-container class="container" [hasBackdrop]="'true'">
  <mat-drawer #drawer [mode]="'push'">I'm a drawer</mat-drawer>
</mat-drawer-container> -->
