.spacer-r {
  margin-right: 15px;
}

.spacer-l {
  margin-left: 20px;
}

.toolbar-height {
  height: 56px;
  padding-right: 12%;
  padding-left: 12%;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.logo {
  cursor: pointer;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

.activeCss {
  color: rgb(152, 255, 195);
}

